@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
@use '../../scss/globals.scss' as *;

// ---------------------Header Stuffs-------------------

.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  position: relative;
  z-index: 12;
  height: 90px;
  width: 100%;
  @include flexCenter(row);
  border-bottom: 1px solid transparent;
  @extend .header-text;
  color: $white;
  background-color: transparent;
  transition-property: border-bottom, background-color, color;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out;
  &.solid {
    border-bottom-color: $swed-black-10;
    background-color: $white;
    transition-property: border-bottom, background-color, color;
    transition-duration: 0.5s, 0.5s, 0.5s;
    color: $swed-black-100;
    transition-timing-function: ease-in-out;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 92%;
  max-width: 1760px;
  height: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 56px;
  height: 100%;
}

li {
  @include flexCenter(row);
}

// ----------------Sidebar Stuffs----------------
.sidebar-container {
  display: grid;
    grid-auto-flow: column;
    height: 100%;
    width: max-content;

}

.sidebar-nav-level-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
    
  align-items: center;
  border-right: 1px solid $swed-black-10;
  width: max-content;
  height: 100%;
  background-color: $white;
  color: $swed-black-100;
  gap: 80px;
}


.sidebar-menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  caret-color: transparent;
  
}

.sidebar-nav-inner-level {
  @extend .sidebar-nav-level-0;
  width: max-content;
  min-width: 250px;
  height: 100%;
  border-left: 1px solid $swed-black-10;
  background-color: $white;
}


.sidebar-items-style {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  height: 50px;
  color: $swed-black-50;
  cursor: pointer;

  &:hover, &:active {
    color: $swed-black-100;
  }
}

.sidebar-social-media-links {
text-decoration: none;
  @include flexCenter(row);
}

.social-media-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:16px;
  width: 122px;
  height: 76px;
}

.sidebar-title-line {
  background-color: $swed-blue;
  width: 100px;
  height: 8px;
}

.sidebar-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
    padding-right: 48px;
  gap: 16px;
}

.sidebar-links {
  text-decoration: none;
}

.motion-container {
  position: absolute;
  top: 0;
  width: max-content;
  height: 100%;
  z-index: -1;
}


.active {
  color: $swed-black-100;
  background-color: $swed-yellow;
}

