@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin hw100Pcent {
  height: 100%;
  width: 100%;
}