@use '../scss/variables' as *;
@use '../scss/mixins' as *;
@use '../scss/functions' as *;

.image-slider {
  @include hw100Pcent;
  position: relative;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 0;
  &.active {
  opacity: 1;
  z-index: 1;
}
}

.slider-video-container {
  @include hw100Pcent;
  overflow: hidden;
  position: relative;
}

.image-slider-container{
  @include hw100Pcent;
}

.slider-video-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  &.active-content {
    z-index: 1;
    opacity: 1;
  }
}

// ------------------Content and Text side by side sections style.----------------------
.catsbs-container {
  display: flex;
  justify-content: center;
  gap: 96px;
  width: 80%;
  height: 470px;
}

.catsbs-content-container {
  width: 55%;
}

.catsbs-content {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catsbs-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 45%;

}

.catsbs-paragraph-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.catsbs-paragraph-container p {
  margin-bottom: 24px;
}
