@use '../scss/variables' as *;
@use '../scss/mixins' as *;
@use '../scss/functions' as *;

.image-slider {
  @include hw100Pcent;
  position: relative;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 0;
  &.active {
  opacity: 1;
  z-index: 1;
}
}

.slider-video-container {
  @include hw100Pcent;
  overflow: hidden;
  position: relative;
}

.image-slider-container{
  @include hw100Pcent;
}

.slider-video-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  &.active-content {
    z-index: 1;
    opacity: 1;
  }
}

// ------------------Content and Text side by side sections style.----------------------
.catsbs-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 80%;
  height: 470px;
}

.catsbs-content-container {
  width: 55%;
  object-fit: cover;
}

.catsbs-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catsbs-header-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.catsbs-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 45%;
}

.catsbs-paragraph-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.catsbs-paragraph-container p {
  margin-bottom: 24px;
}

.video-content-play-button {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  height: 40%;
  fill: $swed-yellow;
  opacity: 0.75;
}

.video-content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vcn-stats-container {
  @include flexCenter(row);
  padding: 20px 24px;
  border: 2px solid $cyan;
  border-radius: 10px;
  gap: 15%;

  .icon-container {
    @include flexCenter(row);
    height: 100px;
    width: 100px;
  }

  .text-container {
    @include flexCenter(column);
    gap: 16px;
    

    .wrap {
      overflow-wrap: break-word;
      text-align: center;
      text-transform: uppercase;
    }
  }
}